<section class="login grey">
  <div class="container">
    <div class="box-wrapper">
      <div class="box box-border">
        <div class="box-body">
          <h4>Login</h4>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control' %>
            </div>

            <div class="form-group">
              <label class="fw">Password
                    <a href="forgot.html" class="pull-right">Forgot Password?</a>
              </label>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>

            <div class="form-group text-right">
              <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

            <div class="form-group text-center">
              <span class="text-muted">Don't have an account?</span>
              <%= link_to "Create one", new_user_registration_path %>
            </div>
            <div class="title-line">
              or
            </div>
            <a href="#" class="btn btn-social btn-block facebook"><i class="ion-social-facebook"></i> Login with Facebook</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
