<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hotel_name %>
    <%= form.text_field :hotel_name, id: :hotel_hotel_name %>
  </div>

  <div class="field">
    <%= form.label :hotel_address %>
    <%= form.text_field :hotel_address, id: :hotel_hotel_address %>
  </div>

  <div class="field">
    <%= form.label :hotel_phone_number %>
    <%= form.text_field :hotel_phone_number, id: :hotel_hotel_phone_number %>
  </div>

  <div class="field">
    <%= form.label :hotel_price %>
    <%= form.text_field :hotel_price, id: :hotel_hotel_price %>
  </div>

  <div class="field">
    <%= form.label :hotel_area %>
    <%= form.text_field :hotel_area, id: :hotel_hotel_area %>
  </div>

  <div class="field">
    <%= form.label :hotel_rating %>
    <%= form.text_field :hotel_rating, id: :hotel_hotel_rating %>
  </div>

  <div class="field">
    <%= form.label :hotel_status %>
    <%= form.number_field :hotel_status, id: :hotel_hotel_status %>
  </div>

  <div class="field">
    <%= form.label :hotel_owner %>
    <%= form.number_field :hotel_owner, id: :hotel_hotel_owner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
