<section class="home review-list">
  <div class="container">
    <div class="row">
      <!-- Left site -->
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <div class="row">
          <% @reviews.each do |review| %>
            <article class="col-md-12 article-list review-card">
            <div class="inner">
              <div style="width: 300px; float: left">
                <figure>
                  <a href="/reviews/show/<%= review.id %>">
                    <!-- <img src="images/news/chickenfry.jpg" alt="Sample Article"> -->
                    <img src="<%= review.food_picture %>" %> alt="Sample Article">
                  </a>
                </figure>
              </div>
              <div class="details">
                <div class="detail">
                  <div class="category">
                    <a href="#">
                      <%= review.user.name %>
                    </a>
                  </div>
                  <div class="time">
                    <%= review.created_at %>
                  </div>
                </div>
                <h1>
                  <a href="reviews/show/<%= review.id %>"><%= review.food_name %></a>
                </h1>
                <div class="store-div">
                  <a class="store-name" href="#"><%= review.store_name %></a>
                </div>
                <div>
                  <p><%= review.store_address %></p>
                </div>
                <div class="score-div">
                  <a class="score">3.2/5 <icon class="fas fa-star"></icon></a>
                </div>
                <footer>
                </footer>
              </div>
            </div>
            <hr>
            <p>
              <%= review.post_content %>
            </p>

            <!-- Check if current user have liked this post  -->
            <% if user_signed_in? %>
              <% isCurUserLikedThisReview = 0 %>
              <% review.comments.each do |comment| %>
                <% if comment.user_id == current_user.id && comment.emotion_type == 1 %>
                  <% isCurUserLikedThisReview = 1 %>
                <% end %>
              <% end %>
            <% end %>

            <!-- Like icon -->
            <div class="like-comment">
              <ul class="nav-icons">
                <li>
                  <% if user_signed_in? %>
                  <!-- if user had liked this review then change icon -->
                    <% if isCurUserLikedThisReview == 1 %>
                      <a href="#" class="custom-icon love active"><i class="ion-android-favorite"></i>
                    <% else %>
                      <a href="#" class="custom-icon love"><i class="ion-android-favorite-outline"></i>
                    <% end %>
                  <% else %>
                    <a href="#" class="custom-icon love-not-signin"><i class="ion-android-favorite-outline"></i>
                  <% end %>

                    <!-- Like[0]_review's id, Like[1]_review's like number  -->
                    <div>
                      <% @likes.each do |like| %>
                        <% if like[0] == review.id %>
                          <%= like[1] %>
                        <% end %>
                      <% end %>
                    </div>
                    <p class="review_id" style="visibility: hidden;" ><%= review.id %></p>
                  </a>
                </li>

                <!-- Check if current user have disliked this post -->
                <% if user_signed_in? %>
                  <% isCurUserDislikedThisReview = 0 %>
                  <% review.comments.each do |comment| %>
                    <% if comment.user_id == current_user.id && comment.emotion_type == 0 %>
                      <% isCurUserDislikedThisReview = 1 %>
                    <% end %>
                  <% end %>
                <% end %>
                <!-- Dislike icon -->
                <li>
                  <% if user_signed_in? %>
                    <% if isCurUserDislikedThisReview == 1 %>
                      <a href="#" class="custom-icon dislike active"><i class="fas fa-thumbs-down"></i>
                    <% else %>
                      <a href="#" class="custom-icon dislike"><i class="far fa-thumbs-down"></i>
                    <% end %>
                  <% else %>
                    <a href="#" class="custom-icon love-not-signin"><i class="far fa-thumbs-down"></i>
                  <% end %>
                    <div>
                      <% @dislikes.each do |dislike| %>
                        <% if dislike[0] == review.id %>
                          <%= dislike[1] %>
                        <% end %>
                      <% end %>
                    </div>
                    <p class="review_id" style="visibility: hidden;" ><%= review.id %></p>
                  </a>
                </li>

                <li>
                  <a class="custom-icon comment-icon"><i class="far fa-comments"></i>
                    <div>
                      <% @nums.each do |num| %>
                        <% if num[0] == review.id %>
                          <%= num[1] %>
                        <% end %>
                      <% end %>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div class="pb-cmnt-container comment-container">
                <div class="detailBox">
                  <div class="actionBox">
                      <ul class="commentList">

                          <% review.comments.each do |comment| %>
                            <% if comment.comment != nil %>
                            <li class="comment-li">
                                <div class="commenterImage">
                                  <%= image_tag("news/chickenfry.jpg")%>
                                </div>
                                <div class="commentText">
                                    <p class="">
                                      <span class="user-comment" style="color: red;margin-right: 5px; font-weight: bold;">
                                      <%= comment.user.name %>
                                      </span>
                                      <span class="comment-naiyou">
                                        <%= comment.comment %>
                                      </span>
                                      <% if user_signed_in? %>
                                        <% if comment.user_id == current_user.id %>
                                        <span class="control-comment" style="visibility: hidden;">
                                          <span class="comment-id" style="visibility: hidden;"><%= comment.id %></span>
                                          <i class="fa fa-trash control-comment-delete" style="color: grey; cursor: pointer;" aria-hidden="true"></i>|<i style="color: grey; cursor: pointer;" class="far fa-edit control-comment-edit"></i>
                                        </span>
                                        <% end %>
                                      <% end %>
                                    </p>
                                    <span class="date sub-text">
                                      <%= comment.updated_at %>
                                    </span>
                                </div>
                            </li>
                            <% end %>
                          <% end %>
                      </ul>
                      <div class="form-inline">
                          <div class="form-group test">
                            <% if user_signed_in? %>
                              <input class="form-control comment-text-box" type="text" placeholder="Your comments" />
                            <% else %>
                              <input class="form-control comment-text-box-signin" type="text" placeholder="Your comments" />
                            <% end %>

                          </div>
                      </div>
                  </div>
            </div>
            </div>
            </article>
          <% end %>
        </div>
        <div class="pagination" style="width: 100%; text-align: center; font-size: 15px">
          <%= will_paginate @users %>
        </div>
      </div>
  </div>
</section>
