<section class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside>
          <h2 class="aside-title">Filter</h2>
          <div class="aside-body">
            <form class="checkbox-group">
              <div style="width: 100%" class="group-title">Price
                  <span style="float: right;font-weight: 300;"><span id="demo"></span> VND</span>
              </div>
              <div class="form-group">
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
              </div>

              <div class="group-title">Date</div>
              <div class="form-group">
                <label><input type="radio" name="date" checked> Anytime</label>
              </div>
              <div class="form-group">
                <label><input type="radio" name="date"> Today</label>
              </div>
              <div class="form-group">
                <label><input type="radio" name="date"> Last Week</label>
              </div>
              <div class="form-group">
                <label><input type="radio" name="date"> Last Month</label>
              </div>
              <br>
              <div class="group-title">Types</div>
              <div class="form-group">
                <label><input type="checkbox" name="category">Stores</label>
              </div>
              <div class="form-group">
                <label><input type="checkbox" name="category">Review Post</label>
              </div>
            </form>
          </div>
        </aside>
      </div>
      <div class="col-md-9">
        <div class="nav-tabs-group">
          <ul class="nav-tabs-list">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Trending</a></li>
          </ul>
          <div class="nav-tabs-right">
            <select class="form-control">
              <option>Sort By</option>
              <option>Price</option>
              <option>Like</option>
              <option>Dislike</option>
            </select>
          </div>
        </div>
        <div class="search-result">
          Search results for keyword "<%= @search_text %>" found in <%= @count %> posts.
        </div>
        <div class="row">

          <% @reviews.each do |review| %>
            <article class="col-md-12 article-list">
              <div class="inner">
                <figure>
                  <a href="reviews/show/<%= review.id %>">
                    <%= image_tag(review.food_picture)%>
                  </a>
                </figure>
                <div class="details">
                  <div class="detail">
                    <time><%= review.created_at %></time>
                  </div>
                  <h1><a href="reviews/show/<%= review.id %>"> <%= review.title %> </a></h1>
                  <p>
                  <%= review.food_name %>
                  </p>
                  <p>
                  Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
                  </p>
                  <footer>
                    <a class="btn btn-primary more" href="reviews/show/<%= review.id %>">
                      <div>More</div>
                      <div><i class="ion-ios-arrow-thin-right"></i></div>
                    </a>
                  </footer>
                </div>
              </div>
            </article>
          <% end %>

          <div class="col-md-12 text-center pagination">
            <%= will_paginate @users %>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
