<section class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside>
          <h2 class="aside-title">Filter</h2>
          <input type="text" id="hidden_test_id" value="anytime" name="hidden_test" style="display: none;">
          <div class="aside-body">
            <form class="checkbox-group">
              <div style="width: 100%" class="group-title">Price
                  <span style="float: right;font-weight: 300;"><span id="demo"></span> VND</span>
              </div>
              <div class="form-group">
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
                </div>
              </div>
              <div class="group-title">Date</div>
              <div class="form-group">
                <label><input type="radio" name="date" value="anytime" checked> Anytime</label>
              </div>
              <div class="form-group">
                <label><input type="radio" id="today" value="today" name="date"> Today</label>
              </div>
              <div class="form-group">
                <label><input type="radio" value="lastweek" name="date"> Last Week</label>
              </div>
              <div class="form-group">
                <label><input type="radio" value="lastmonth" name="date"> Last Month</label>
              </div>
              <br>

            </form>
          </div>
        </aside>
      </div>
      <div class="col-md-9">
        <div class="nav-tabs-group">
          <ul class="nav-tabs-list">
            <li class="active"><a href="#">All</a></li>
          </ul>
          <div class="nav-tabs-right">
            <select id="sort" class="form-control">
              <option>Sort By</option>
              <option>price</option>
              <option>date</option>
            </select>
          </div>
        </div>
        <div class="search-result">
          Search results for keyword <span id="search_text">"<%= @search_text %>"</span> found in <%= @count %> posts.
        </div>
        <div class="row search_content">

          <% @reviews.each do |review| %>
            <article class="col-md-12 article-list">
              <div class="inner">
                <figure>
                  <a href="reviews/show/<%= review.id %>">
                    <%= image_tag(review.food_picture)%>
                  </a>
                </figure>
                <div class="details">
                  <div class="detail">
                    <time><%= review.created_at %></time>
                  </div>
                  <h1><a href="reviews/show/<%= review.id %>"> <%= review.title %> </a></h1>
                  <p>
                  <%= review.food_name %> - <%= review.price %> VND
                  </p>
                  <p>
                  Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
                  </p>
                  <footer>
                    <a class="btn btn-primary more" href="reviews/show/<%= review.id %>">
                      <div>More</div>
                      <div><i class="ion-ios-arrow-thin-right"></i></div>
                    </a>
                  </footer>
                </div>
                <h1><a href="single.html">Donec consequat arcu at ultrices sodales quam erat aliquet diam</a></h1>
                <p>
                Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
                </p>
                <footer>
                  <a class="btn btn-primary more" href="single.html">
                    <div>More</div>
                    <div><i class="ion-ios-arrow-thin-right"></i></div>
                  </a>
                </footer>
              </div>
            </div>
          </article>
          <div class="col-md-12 text-center pagination">
            <%= will_paginate @users %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
