<section class="single">
			<div class="container">
				<div class="row">
					<div class="col-md-4 sidebar" id="sidebar">
						<aside>
							<div class="aside-body">
								<figure class="ads">
									<%= image_tag(@review.food_picture)%>
									<figcaption>Advertisement</figcaption>
								</figure>
							</div>
						</aside>
						<aside>
							<h1 class="aside-title">The most favourit reviews</h1>
							<div class="aside-body">

								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="/reviews/show/<%= @rev0.id %>">
												<img src="<%= @rev0.food_picture %>"  alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="/reviews/show/<%= @rev0.id %>"><%= @rev0.title%></a></h1>
											<div class="detail">
												<div class="category"><a href="category.html"><%= @rev0.created_at %></a></div>
												<div class="fas fa-heart" style="color: red">&nbsp</div>
												<div class="category"><a href="category.html"><%= @count0 %></a></div>
												<div class="time"></div>
											</div>
										</div>
									</div>
								</article>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="/reviews/show/<%= @rev1.id %>">
												<img src="<%= @rev1.food_picture %>"  alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="/reviews/show/<%= @rev1.id %>"><%= @rev1.title%></a></h1>
											<div class="detail">
												<div class="category"><a href="category.html"><%= @rev1.created_at %></a></div>
												<div class="fas fa-heart" style="color: red">&nbsp</div>
												<div class="category"><a href="category.html"><%= @count1 %></a></div>
												<div class="time"></div>
											</div>
										</div>
									</div>
								</article>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="/reviews/show/<%= @rev2.id %>">
												<img src="<%= @rev2.food_picture %>"  alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="/reviews/show/<%= @rev2.id %>"><%= @rev2.title%></a></h1>
											<div class="detail">
												<div class="category"><a href="category.html"><%= @rev2.created_at %></a></div>
												<div class="fas fa-heart" style="color: red">&nbsp</div>
												<div class="category"><a href="category.html"><%= @count2 %></a></div>
												<div class="time"></div>
											</div>
										</div>
									</div>
								</article>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="/reviews/show/<%= @rev3.id %>">
												<img src="<%= @rev3.food_picture %>"  alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="/reviews/show/<%= @rev3.id %>"><%= @rev3.title%></a></h1>
											<div class="detail">
												<div class="category"><a href="category.html"><%= @rev3.created_at %></a></div>
												<div class="fas fa-heart" style="color: red">&nbsp</div>
												<div class="category"><a href="category.html"><%= @count3 %></a></div>
												<div class="time"></div>
											</div>
										</div>
									</div>
								</article>


							</div>
						</aside>
					</div>
					<div class="col-md-8">
						<article class="article main-article">
							<header>
								<br><br>
								<h1><%= @review.title %></h1>
								<ul class="details">
									<li>Posted on <%= @review.created_at %></li>
									<li>By <%= @review.user.name %></li>
								</ul>
							</header>
							<div class="main">


				        <p>Địa chỉ: <%= @review.store.store_address %>(<a href="/stores/info/<%= @review.id %>">thông tin chi tiết</a>)</p>

				        <p>Đánh giá chất lượng: <%= @review.taste_rate%>/5</p>
				       	<p>Đánh giá an toàn vệ sinh: <%= @review.safety_rate%>/5</p>
								<p><%= @review.post_content %></p>

							</div>

						</article>
						<div class="sharing">
						</div>

						<div class="line thin"></div>
						<div class="comments">
							<h2 class="title">Bình luận <a href="#">Write a Response</a></h2>



						<div class="comment-list">

							<% @review.comments.each do |comment| %>
							<% if comment.comment != nil %>
								<div class="item">
									<div class="user">
										<figure>
											<%= image_tag("avatar.png")%>
										</figure>
										<div class="details">
											<p style="font-size: 15px" class="name"><%= comment.user.name%>
												<span style="font-size: 10px; margin-left: 10px" class="time"><%= comment.created_at%></span>
												<span class="comment_id" style="visibility: hidden;" ><%= comment.id %></span>
											</p>
											<div class="description">
												<%= comment.comment%>
											</div>
											<a class="reply" style="font-size: 12px">Reply
												<span class="count_reply" style="margin-left: 5px"><%= comment.replies.count %></span>
											</a>
											<% if user_signed_in? %>
												<% if comment.user_id == current_user.id %>
												<span class="control_comment_sp" style="visibility: hidden">
													<span class="comment_id_sp" style="visibility: hidden;"><%= comment.id %></span>
													<i class="fa fa-trash control-comment-delete-sp" style="color: grey; cursor: pointer;" aria-hidden="true"></i>
													<i style="color: grey; cursor: pointer;" class="far fa-edit control-comment-edit-sp"></i>
												</span>
												<% end %>
											<% end %>

										</div>
									</div>
									<div class="reply-list" style="display: none">
										<div class="reply-item2">
										<% comment.replies.each do |reply| %>
											<div class="reply-item" style="margin-bottom: 0px">
												<div class="user" style="margin-bottom: 0px">
													<figure>
														<%= image_tag("avatar.png")%>
													</figure>
													<div class="details">
														<p style="font-size: 15px" class="name"><%= reply.user.name%>
															<span style="font-size: 10px; margin-left: 10px" class="time"><%= reply.created_at%></span>
														</p>
														<div class="description">
															<%= reply.reply%>
															<% if user_signed_in? %>
																<% if reply.user_id == current_user.id %>
																<span class="control_reply_sp" style="visibility: hidden">
																	<span class="reply_id_sp" style="visibility: hidden;"><%= reply.id %></span>
																	<i class="fa fa-trash control-reply-delete-sp" style="color: grey; cursor: pointer;" aria-hidden="true"></i>
																	<i style="color: grey; cursor: pointer;" class="far fa-edit control-reply-edit-sp"></i>
																</span>
																<% end %>
															<% end %>
														</div>

													</div>
												</div>
											</div>
										<% end %>
									</div>
										<% if user_signed_in? %>
												<div class="user">
													<figure>
														<%= image_tag("avatar.png")%>
													</figure>
													<div class="details">
														<p style="font-size: 15px" class="name"><%= current_user.name%>
														</p>
														<input placeholder="your comment"type="text" name="reply" style="margin-top: 15px" value="" class="form-control content-reply">
													</div>
												</div>
										<% else %>
												<div class="user">
													<figure>
														<%= image_tag("avatar.png")%>
													</figure>
													<div class="details">
														<input placeholder="your comment" type="text" name="" value="" class="form-control content-reply-not-signin">
													</div>
												</div>
										<% end %>

									</div>
								</div>
							<% end %>
						<% end %>
					</div><br>



						<% if user_signed_in? %>
							 	<textarea placeholder="Your comment" style="height: 100px" class="form-control content-comment" name="comment"></textarea><br>
							 	<input type="hidden" id="reviewID" value="<%= @review.id %>" name="re_id">
							 	<input id="submit_signin" type="submit" name="submit">
						<% else %>
						 	<textarea class="form-control content-comment" name="comment"></textarea><br>
						 	<input id="submit_notsignin" type="submit" name="submit">
						<% end %>





						</div>
					</div>
				</div>
			</div>
</section>
