<section class="single">
			<div class="container">
				<div class="row">
					<div class="col-md-4 sidebar" id="sidebar">
						<aside>
							<div class="aside-body">
								<figure class="ads">
									<%= image_tag("ad.png")%>
									<figcaption>Advertisement</figcaption>
								</figure>
							</div>
						</aside>
						<aside>
							<h1 class="aside-title">Bài viết khác của <%= @review.user.name%></h1>
							<div class="aside-body">
								<% @user_of_review.reviews.each do |review| %>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="/reviews/show/<%= review.id %>">
												<%= image_tag("news/buffet.jpg")%>
											</a>
										</figure>
										<div class="padding">
											<h1><a href="/reviews/show/<%= review.id %>"><%= review.title%></a></h1>
											<div class="detail">
												<div class="category"><a href="category.html"><%= review.created_at %></a></div>
												<div class="time"></div>
											</div>
										</div>
									</div>
								</article>
								<% end %>
								
							</div>
						</aside>
					</div>
					<div class="col-md-8">
						<article class="article main-article">
							<header>
								<h1><%= @review.title %></h1>
								<ul class="details">
									<li>Posted on <%= @review.created_at %></li>
									<li>By <%= @review.user.name %></li>
								</ul>
							</header>
							<div class="main">
								<p><%= @review.store_name %></p>
                				<p>Địa chỉ: <%= @review.store_address %></p>
                				<p>Đánh giá chất lượng: <%= @review.taste_rate%>/5</p>
                				<p>Đánh giá an toàn vệ sinh: <%= @review.safety_rate%>/5</p>
								<p><%= @review.post_content %></p>
							</div>
							
						</article>
						<div class="sharing">
						</div>
						
						<div class="line thin"></div>
						<div class="comments">
							<h2 class="title">Bình luận <a href="#">Write a Response</a></h2>
							<div class="comment-list">
							<% @review.comments.each do |comment| %> 
								<div class="item">
									<div class="user">                                
										<figure>
											<%= image_tag("n.png")%>
										</figure>
										<div class="details">
											<h5 class="name"><%= comment.user.name%></h5>
											<div class="time"><%= comment.created_at%></div>
											<div class="description">
												<%= comment.comment%>
											</div>
											<!-- <footer>
												<a href="#">Reply</a>
											</footer> -->
											
										</div>
									</div>
								</div>
							<% end %>

							</div>
							<form class="row" method="POST" action="url('/comment/store')">
								<div class="form-group col-md-12">
									<textarea class="form-control" name="message" placeholder="Nội dung bình luận ..."></textarea>
								</div>
								<div class="form-group col-md-12">
									<button class="btn btn-primary">Gửi</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
</section>