<!DOCTYPE html>
<html>
  <head>
    <title>Itnihon3Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Magz is a HTML5 & CSS3 magazine template is based on Bootstrap 3.">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="magz, html5, css3, template, magazine template">
    <!-- Shareable -->
    <meta property="og:title" content="HTML5 & CSS3 magazine template is based on Bootstrap 3" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://github.com/nauvalazhar/Magz" />
    <meta property="og:image" content="https://raw.githubusercontent.com/nauvalazhar/Magz/master/images/preview.png" />
    <title>Magz &mdash; Responsive HTML5 &amp; CSS3 Magazine Template</title>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag "/scripts/bootstrap/bootstrap.min.css" %>
    <!-- IonIcons -->
    <%= stylesheet_link_tag "/scripts/ionicons/css/ionicons.min.css" %>
    <!-- Toast -->
    <%= stylesheet_link_tag "/scripts/toast/jquery.toast.min.css" %>
    <!-- OwlCarousel -->
    <%= stylesheet_link_tag "/scripts/owlcarousel/dist/assets/owl.carousel.min.css" %>

    <%= stylesheet_link_tag "/scripts/owlcarousel/dist/assets/owl.theme.default.min.css" %>
    <!-- Magnific Popup -->
    <%= stylesheet_link_tag "/scripts/magnific-popup/dist/magnific-popup.css" %>
    <%= stylesheet_link_tag "/scripts/sweetalert/dist/sweetalert.css" %>

    <!-- Custom style -->
    <%= stylesheet_link_tag "/css/style.css" %>
    <%= stylesheet_link_tag "/css/skins/all.css" %>
    <%= stylesheet_link_tag "/css/demo.css" %>
  </head>

  <body class="skin-orange">

    <% if params[:action] != 'new' && params[:controller] != 'devise/registrations' %>
      <%= render "layouts/header" %>
    <% end %>`

    <!-- content -->
    <%= yield %>

    <!-- Start footer -->
    <% if params[:action] != 'new' && params[:controller] != 'devise/registrations' %>
      <%= render "layouts/footer" %>
    <% end %>`
    <!-- End Footer -->

    <!-- JS -->
    <%= javascript_include_tag '/js/jquery.js' %>
    <%= javascript_include_tag '/js/jquery.migrate.js' %>
    <%= javascript_include_tag '/scripts/bootstrap/bootstrap.min.js' %>
    <script>var $target_end=$(".best-of-the-week");</script>
    <%= javascript_include_tag '/scripts/jquery-number/jquery.number.min.js' %>
    <%= javascript_include_tag '/scripts/owlcarousel/dist/owl.carousel.min.js' %>
    <%= javascript_include_tag '/scripts/magnific-popup/dist/jquery.magnific-popup.min.js' %>
    <%= javascript_include_tag '/scripts/easescroll/jquery.easeScroll.js' %>
    <%= javascript_include_tag '/scripts/sweetalert/dist/sweetalert.min.js' %>
    <%= javascript_include_tag '/scripts/toast/jquery.toast.min.js' %>
    <%= javascript_include_tag '/js/demo.js' %>
    <%= javascript_include_tag '/js/e-magz.js' %>
  </body>
</html>